%fieldset
  = render "shared/error_messages", :target => presentation
  %ol
    %li
      = f.label :event_id
      = f.collection_select :event_id, events, :id, :name, :prompt => true
    %li
      = f.label :speaker_id
      = f.collection_select :speaker_id, speakers, :id, :name, :prompt => true
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :description
      = f.text_area :description
    %li
      = f.label :tag_list, "Tags (comma seperated)"
      = f.text_field :tag_list
    
    = f.fields_for :videos do |v|
      %li
        = v.label :url, "Video URI"
        = v.text_field :url
        = v.hidden_field :content

    = f.fields_for :slideshows do |s|
      %li
        = s.label :url, "Slideshow URI"
        = s.text_field :url
        = s.hidden_field :content
    %li
      = f.submit
