%h2 Editing #{@presentation.title}

= form_for @presentation, :url => admin_event_presentation_path(@presentation.event, @presentation) do |f|
  = render 'form', :f => f, 
    :presentation => @presentation, 
    :speakers     => @speakers, 
    :events       => @events

%p.actions
  = link_to 'Show', [@presentation.event, @presentation]
  \|
  = link_to 'Cancel & Go Back', :back
