%h2 Editing #{@presentation.title}

= form_for @presentation, :url => admin_event_presentation_path(@presentation.event, @presentation) do |f|
  = render 'form', :f => f,
    :presentation => @presentation, 
    :speakers     => @speakers, 
    :events       => @events
#speaker_form{ :style => 'display:none;' }
  = render 'admin/speakers/form', :speaker => Speaker.new
#event_form{ :style => 'display:none;' }
  = render 'admin/events/form', :event => Event.new
