%h1 Listing presentations

%table
  %tr
    %th Title
    %th Description
    %th Video
    %th Presenter Name
    %th Event Name
    %th Took Place On
    %th Speaker
    %th Tags
    %th
    %th
    %th

  - @presentations.each do |presentation|
    %tr
      %td= presentation.title
      %td= presentation.description
      %td= presentation.video
      %td= presentation.presenter_name
      %td= presentation.event_name
      %td= presentation.took_place_on
      %td= link_to presentation.speaker, admin_speaker_path(presentation.speaker)
      %td= presentation.tag_list
      %td= link_to 'Show', admin_presentation_path(presentation)
      %td= link_to 'Edit', edit_admin_presentation_path(presentation)
      %td= link_to 'Destroy', admin_presentation_path(presentation), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Presentation', new_admin_presentation_path
