%h2 
  All Presentations | 
  = link_to 'New Presentation', new_admin_presentation_path

%table#presentations
  %thead
    %tr
      %th
      %th Title
      %th Speaker
      %th Event Name
      %th Took Place On
      %th Tags
      %th Complete

  %tbody
    - @presentations.each do |presentation|
      %tr.presentation
        %td
          %ul.actions
            %li= link_to 'Edit', edit_admin_event_presentation_path(presentation.event, presentation), :class => "edit"
            %li=# link_to 'Destroy', admin_presentation_path(presentation), :confirm => 'Are you sure?', :method => :delete
        %td= link_to presentation.title, admin_event_presentation_path(presentation.event, presentation)
        %td= raw presentation.speakers.map{|speaker| escaped_link(speaker.name, admin_speaker_path(speaker)) }.join(", ")
        %td= presentation.event.name
        %td= presentation.took_place_on
        %td= presentation.tag_list
        %td= number_to_percentage presentation.percent_complete, :precision => 0

= will_paginate @presentations
