%fieldset
  %ol
    %li
      %b Title:
      = @presentation.title
    %li
      %b= @presentation.speakers.count > 1 ? "Speakers" : "Speaker"
      = raw @presentation.speakers.map{|speaker| escaped_link(speaker.name, admin_speaker_path(speaker))}.join(", ")
    %li
      %b Description:
      = @presentation.description
    %li
      %b Tags:
      = @presentation.tag_list
    %li
      %b Video:
      = @presentation.video

= link_to 'Edit', edit_admin_event_presentation_path(@presentation.event, @presentation)
\|
= link_to 'Back', admin_presentations_path
