= form_for [:admin, @event] do |f|
  %fieldset
    = render "shared/error_messages", :target => @event
    %ul
      %li
        = f.label :name
        = f.text_field :name
      %li
        = f.label :started_on
        = f.date_select :started_on
      %li
        = f.label :ended_on
        = f.date_select :ended_on
    %p.actions
      = f.submit
      = link_to 'Show', [:admin, @event]
      \|
      = link_to 'Cancel & Go Back', :back
