%h2 
  All Events
  = link_to 'New event', new_admin_event_path

%table
  %thead
    %tr
      %th Name
      %th Started On
      %th Ended On
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.started_on
        %td= event.ended_on
        %td= link_to 'Show', [:admin, event]
        %td= link_to 'Edit', edit_admin_event_path(event)
        %td= link_to 'Destroy', [:admin, event], :confirm => 'Are you sure?', :method => :delete
