%h1 Listing events

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= link_to 'Show', [:admin, event]
      %td= link_to 'Edit', edit_admin_event_path(event)
      %td= link_to 'Destroy', [:admin, event], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New event', new_admin_event_path
