%h2 
  All Events
  = link_to 'New event', new_admin_event_path

%table
  %thead
    %tr
      %th
      %th Name
      %th Started On
      %th Ended On

  %tbody
    - @events.each do |event|
      %tr
        %td
          %ul.actions
            %li= link_to 'Edit', edit_admin_event_path(event), :class => "edit"
            %li= link_to 'Destroy', [:admin, event], :confirm => 'Are you sure?', :method => :delete, :class => "delete"
        %td= link_to event.name, [:admin, event]
        %td= event.started_on
        %td= event.ended_on