%article.presentation{ :id => dom_id(presentation) }
  %h2= link_to presentation.title, presentation_path(presentation), :class => 'title'
  %p.description= truncate(presentation.description, :length => 200)
  %ul
    %li.speaker= link_to presentation.speaker.name, speaker_path(presentation.speaker)
    %li.took_place_on= presentation.took_place_on
    %li.event= presentation.event.name
  %ul.tags
    - presentation.tag_list.each do |tag|
      %li.tag= tag
