%article.presentation{ :id => dom_id(presentation) }
  %h2= link_to presentation.title, presentation_path(presentation), :class => 'title'
  %p.info
    == by #{link_to presentation.speaker.name, presentation.speaker} @ #{presentation.event.name}
  %p.description= truncate(presentation.description, :length => 200)
  - if presentation.videos.first.thumbnail.present?
    = link_to presentation do
      = image_tag presentation.videos.first.thumbnail, :class => 'thumb', :height => 150 
  - if presentation.tags.present?
    %ul.tags
      - presentation.tag_list.each do |tag|
        %li.tag= tag
