%article.presentation{ :id => dom_id(presentation) }
  %h2= link_to presentation.title, presentation_path(presentation), :class => 'title'
  .info
    %p 
      by
      - presentation.speakers.each do |speaker|
        #{link_to speaker.name, speaker}
        @ #{link_to presentation.event.name, presentation.event}
    =raw truncate(presentation.rendered_description, :length => 200)
  = link_to presentation, :class => "image_link" do
    = image_tag presentation.thumbnail, :class => 'thumb', :width => 200
  - if presentation.tags.present?
    .tags
      - presentation.tags.each do |tag|
        = link_to tag, tagged_path(tag.permalink)
