.presentation
  .title= @presentation.title
  .tags= @presentation.tag_list
  .description= @presentation.description
  - if @presentation.video
    .video= @presentation.video_html
  .presenter
    .name= @presentation.speaker.name
  .event
    .name= @presentation.event_name
