%article.presentation
  %h2= @presentation.title
  - if @presentation.videos
    - @presentation.videos.each do |video|
      = div_for(video) do
        = raw video.content
%aside
  %dl
    %dt Speakers
    - @presentation.speakers.each do |speaker|
      %dd= link_to speaker.name, speaker_path(speaker)
    %dt Event
    %dd #{@presentation.event}
    %dt Description
    %dd
      = raw @presentation.rendered_description
      - if @presentation.tags.present?
        %ul.tags
          - @presentation.tag_list.each do |tag|
            %li.tag= tag
