.presentation
  .title= @presentation.title
  .tags= @presentation.tag_list
  .description= @presentation.description
  - if @presentation.videos
    - @presentation.videos.each do |video|
      .video= raw video.content
  - if @presentation.slideshows
    - @presentation.slideshows.each do |slideshow|
      .slideshow= raw slideshow.content
  .speaker
    .name= @presentation.speaker.name
  .event
    .name= @presentation.event_name
