.presentation
  .title= @presentation.title
  .tags= @presentation.tag_list
  .description= @presentation.description
  - if @presentation.videos
    - @presentation.videos.each do |video|
      .video= link_to 'Video', video.url, :class => 'oembed'
  - if @presentation.slideshows
    #slideshows
      - @presentation.slideshows.each do |slideshow|
        = link_to 'Slideshow', slideshow.url, :class => 'oembed'
  .speaker
    .name= @presentation.speaker.name
  .event
    .name= @presentation.event_name
