%nav
  %li= link_to "Presentations", root_path, :class => "#{active_class('^\/$') || active_class('presentations')}"
  -#%li= link_to "Speakers", speakers_path, :class => "#{active_class('speakers')}"
  %li= link_to "Events", events_path, :class => "#{active_class('events')}"
  %li#search= render :partial => 'shared/search_form'
