- content_for :javascript_includes do
  = javascript_include_tag 'speaker_rate'
  = javascript_include_tag 'admin/speakers/form'
= form_for [:admin, @speaker] do |f|
  %fieldset
    = render 'shared/error_messages', :target => @speaker
    %ul
      %li
        = f.label :speaker_rate_id
        = f.text_field :speaker_rate_id, :placeholder => "e.g. 174-jason-fried"
        = link_to 'Fetch Data', '#', :id => 'speaker_rate_link'
      %li
        = f.label :name
        = f.text_field :name
      %li
        = f.label :title
        = f.text_field :title
      %li
        = f.label :location
        = f.text_field :location
      %li
        = f.label :bio, :class => 'textarea'
        = f.text_area :bio
      %li
        = f.label :company_name
        = f.text_field :company_name
      %li
        = f.label :company_url
        = f.text_field :company_url
      %li
        = f.label :email
        = f.text_field :email
      %li
        = f.label :twitter
        = f.text_field :twitter
      %li
        = f.label :website
        = f.text_field :website
    %p.actions
      = f.submit
      =# link_to 'Show', @presentation - not working
      \|
      = link_to 'Cancel & Go Back', :back
