%h2 
  Listing speakers
  = link_to 'New speaker', new_admin_speaker_path

%table
  %thead
    %tr
      %th
      %th Name
      %th Title
      %th Location
      %th Bio
  %tbody
    - @speakers.each do |speaker|
      %tr.main_info
        %td
          %ul.actions
            %li= link_to 'Destroy', admin_speaker_path(speaker), :confirm => 'Are you sure?', :method => :delete, :class => "delete"
            %li= link_to 'Edit', edit_admin_speaker_path(speaker), :class => "edit"
        %td= link_to speaker.name, admin_speaker_path(speaker)
        %td= speaker.title
        %td= speaker.location
        %td= speaker.bio