%h2 
  Listing speakers
  = link_to 'New speaker', new_admin_speaker_path

%table
  %thead
    %tr
      %th
      %th Name
      %th Title
      %th Location
      %th Bio
  %tbody
    - @speakers.each do |speaker|
      %tr.main_info
        %td
          %ul.actions
            %li= link_to 'Edit', edit_admin_speaker_path(speaker), :class => "edit"
            %li= link_to 'Destroy', admin_speaker_path(speaker), :confirm => 'Are you sure?', :method => :delete, :class => "delete"
        %td= link_to speaker.name, admin_speaker_path(speaker)
        %td= speaker.title
        %td= speaker.location
        %td= speaker.bio
      %tr.more_info
        %td{:colspan => "6"}
          %table
            %thead
              %tr
                %th Company name
                %th Company url
                %th Email
                %th Twitter
                %th Website
                %th Speakerrate url
            %tbody
              %tr
                %td= speaker.company_name
                %td= speaker.company_url
                %td= speaker.email
                %td= speaker.twitter
                %td= speaker.website
                %td= speaker.speakerrate_url