%fieldset
  = gravatar_tag @speaker
  %ol
    %li
      %b Name:
      = @speaker.name
    %li
      %b Title:
      = @speaker.title
    %li
      %b Location:
      = @speaker.location
    %li
      %b Bio:
      = @speaker.bio
    %li
      %b Company name:
      = @speaker.company_name
    %li
      %b Company url:
      = @speaker.company_url
    %li
      %b Email:
      = @speaker.email
    %li
      %b Twitter:
      = @speaker.twitter
    %li
      %b Website url:
      = @speaker.website
    %li
      %b Speakerrate url:
      = @speaker.speakerrate_url

= link_to 'Edit', edit_admin_speaker_path(@speaker)
\|
= link_to 'Back', admin_speakers_path
