- content_for :atom_feed do 
  = auto_discovery_link_tag(:atom, event_url(@event, :format => :atom))

- title "#{@event.name}"

%article#event
  - if @event.presentations.present?
    = render @event.presentations
  - else
    No presentations are available for this event yet.

%aside#event
  %h2= link_to_if @event.website, @event.name, @event.website, :target => '_blank'
  %h4.display_date= displayed_date_for(@event)
