= link_to 'Go Back & View All Speakers', :back
%h2#speaker_title #{@speaker.name} <span>#{@speaker.title}</span> <span id="location">#{@speaker.location}</span>
#speaker_info
  #avatar= gravatar_tag @speaker  
  %p#bio= @speaker.bio
  %p#links
    - if @speaker.company_url
      = link_to @speaker.company_name, @speaker.company_url
    -if @speaker.twitter
      = link_to 'Twitter', "http://twitter.com/#{@speaker.twitter}"
    -if @speaker.website
      = link_to 'Website', @speaker.website

%h3 Presentations
- if @speaker.presentations.present?
  %ul
    - @speaker.presentations.each do |presentation|
      %li= link_to presentation.title, presentation
