%article#speaker
  - if @speaker.presentations.present?
    = render @speaker.presentations
  - else
    No presentations are available for this speaker yet.

%aside#speaker
  %h2= @speaker.name
  .avatar= gravatar_tag @speaker
  .links
    - if @speaker.company_url
      = link_to @speaker.company_name, @speaker.company_url, :target => '_blank'
    - if @speaker.twitter
      = link_to 'Twitter', "http://twitter.com/#{@speaker.twitter}", :target => '_blank'
    - if @speaker.website
      = link_to 'Website', @speaker.website, :target => '_blank'
  #bio= @speaker.bio

