!!! html5
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title [ADMIN] - Conference Education
    %meta{ :name => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0;' }
    //%link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
    //%link{ :rel => 'apple-touch-icon', :href => '/apple-touch-icon.png' }
    = stylesheet_link_tag 'admin'
    = stylesheet_link_tag 'facebox'
    %script{:type => "text/javascript", :src => "http://use.typekit.com/wnz4hjz.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tag
  %body
    #container
      %header
        %h1 confed <span>Admin</span>
      = flash_messages
      %nav
        %li= link_to 'Presentations', admin_presentations_path, :class => "#{active_class('presentations')}"
        %li= link_to 'Speakers', admin_speakers_path, :class => "#{active_class('speakers')}"
        %li= link_to 'Events', admin_events_path, :class => "#{active_class('events')}"

      #content
        = yield
      %footer
    - if Rails.env.production?
      = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    - else
      = javascript_include_tag 'jquery'

    = javascript_include_tag "plugins/selectboxes/jquery.selectboxes"
    = javascript_include_tag 'presentations/show'
    = javascript_include_tag 'facebox'
    = javascript_include_tag 'admin'
    = javascript_include_tag 'admin/presentation'
    = yield :javascript_includes
    %script{:type => "text/javascript"}
      = yield :javascripts

