!!! html5
%html
  %head
    %title Conference Education
    = stylesheet_link_tag :flutie, 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body.content
    = flash_messages
    = yield
