!!! html5
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title Conference Education
    %meta{ :name => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0;' }
    //%link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
    //%link{ :rel => 'apple-touch-icon', :href => '/apple-touch-icon.png' }
    = stylesheet_link_tag :flutie, 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #container
      %header
      = render 'shared/navigation'
      = flash_messages
      = yield
      %footer
    - if Rails.env.production?
      = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    - else
      = javascript_include_tag 'jquery'
